extends partial/layout

include mixins

block site_title
    != page.title + " · " + config.title

block description
    - var desc = page.desc || strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150);
    meta(name="description", content=desc)

block content
  .autopagerize_page_element: .content: .post-page
    include mixins
    +make_post(page, true)
    .share
      //.evernote
      //  a.fa.fa-bookmark(href="",onclick="javascript:join_favorite()", ref="sidebar")
      //.weibo
      //  a.fa.fa-weibo(href="javascript:void((function(s,d,e){try{}catch(e){}var f='http://service.weibo.com/share/share.php?',u=d.location.href,p=['url=',e(u),'&title=',e(d.title),'&appkey=2924220432'].join('');function a(){if(!window.open([f,p].join(''),'mb',['toolbar=0,status=0,resizable=1,width=620,height=450,left=',(s.width-620)/2,',top=',(s.height-450)/2].join('')))u.href=[f,p].join('');};if(/Firefox/.test(navigator.userAgent)){setTimeout(a,0)}else{a()}})(screen,document,encodeURIComponent));")
      .twitter
        a.fa.fa-twitter(href=url_for("http://twitter.com/home?status="+","+config.url+"/"+page.path+","+config.title+","+page.title+",;"))
    - var prev = page.prev ? page.prev.path : false;
    - var next = page.next ? page.next.path : false;
    .pagination
      ul.clearfix
        if prev
          li.pre.pagbuttons
            a.btn(role="navigation",href=url_for(prev), title=page.prev.title)!= __('prev_post')
        if next
          li.next.pagbuttons
            a.btn(role="navigation",href=url_for(next), title=page.next.title)!= __('next_post')
    if page.comments
        include partial/comments
