//script(src= url_for('js/visitors.js'))

if theme.duoshuo
    a#comments
    .ds-thread(data-thread-key=page.path, data-title=page.title, data-url=page.permalink, data-author-key='1')
    script.
        var duoshuoQuery = {short_name:"#{theme.duoshuo}"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0] 
             || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();


if theme.g
    a#comments
    #disqus_thread
    script.
        var disqus_shortname = '#{theme.disqus}';
        var disqus_identifier = '#{page.path}';
        var disqus_title = '#{page.title}';
        var disqus_url = '#{config.url}/#{page.path}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    script(id='dsq-count-scr' src='//#{theme.disqus}.disqus.com/count.js' async)

if theme.gentie
    a#comments
    #cloud-tie-wrapper.cloud-tie-wrapper
    script(src='https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js')
    script.
        var cloudTieConfig = { url: document.location.href, sourceId: '#{page.path}', productKey: '#{theme.gentie}', target: 'cloud-tie-wrapper' };var yunManualLoad = true;Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);

if theme.youyan
    a#comments
    #youyan_thread(class='post')
    script.
        (function() {

            var YYDiv = document.createElement('div');
            YYDiv.id = 'uyan_frame';
            document.getElementById('youyan_thread').appendChild(YYDiv);

            var YYScript = document.createElement('script');
            YYScript.type = 'text/javascript';
            YYScript.async = true;
            YYScript.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//v2.uyan.cc/code/uyan.js?uid=' + '#{theme.youyan}';
            YYScript.charset = 'UTF-8';
            document.getElementById('youyan_thread').appendChild(YYScript);

        })();


if theme.valine
    if theme.valine.enable == true
        a#comments
        #vcomments(style="margin:0 30px;")
        script(src='//cdn1.lncld.net/static/js/3.0.4/av-min.js')
        script(src='//cdn.jsdelivr.net/gh/xcss/valine@latest/dist/Valine.min.js')
        script.
          var valine = new Valine({
            el:'#vcomments',
            notify:#{theme.valine.notify} || false, 
            verify:#{theme.valine.verify}|| false, 
            app_id:'#{theme.valine.appid}',
            app_key:'#{theme.valine.appkey}',
            placeholder:'#{theme.valine.placeholder}',
            path: window.location.pathname,
            serverURLs: '#{theme.valine.serverURLs}',
            visitor:true,
            recordIP:true,
            avatar:'#{theme.valine.avatar}'
          })
