meta(charset="utf-8")
meta(name="X-UA-Compatible", content="IE=edge")
meta(name="author", content= theme.author)
title
    block site_title
        = config.title
block description
    meta(name="description", content= theme.description ? theme.description : 'A Website Powered By Hexo')

if page.keywords
    meta(name="keywords", content= page.keywords)
else
    meta(name="keywords" content= theme.keywords)

meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0",name="viewport")
meta(content="yes",name="apple-mobile-web-app-capable")
meta(content="black",name="apple-mobile-web-app-status-bar-style")
meta(content="telephone=no",name="format-detection")

meta(name="renderer",content="webkit")
link(rel="shortcut icon" type="image/x-icon" href=theme.favicon)

link(rel="stylesheet", href= url_for('css/font-icons.css'))
link(rel="stylesheet", href= url_for('css/style.css'))
link(rel="stylesheet", href= url_for('css/blog_basic.css'))
link(rel="stylesheet", href= url_for('css/insight.css'))
//link(rel="stylesheet", href= url_for('css/search.css'))
link(rel="preload",as="image",href="https://seccdn.libravatar.org/avatar/304390cb555f921bca172ae7bd4ef1e5eeb02d381deadcec1736083817cebea5?s=32&d=identicon")
link(rel="alternate" type="application/atom+xml" title="ATOM 1.0" href="/atom.xml")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
script(src= url_for('js/main.js'))