@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?rdm7rr');
  src:  url('../fonts/icomoon.eot?rdm7rr#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?rdm7rr') format('truetype'),
    url('../fonts/icomoon.woff?rdm7rr') format('woff'),
    url('../fonts/icomoon.svg?rdm7rr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gitlab:before {
  content: "\e900";
  color: #fca121;
}
.icon-home:before {
  content: "\e901";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-github:before {
  content: "\eab0";
}
